/*
STYLES FOR PRIVACY POLICY, TERMS AND CONDITIONS, CHECKOUT CONFIRMATION, AND ABOUT PAGES
*/

/* ===============================
   STYLES FOR PRIVACY POLICY AND TERMS AND CONDITIONS PAGES
   =============================== */

.information small {
  display: block;
  text-align: center;
  padding: 10px 0px 30px 0px;
}

.information a {
  color: var(--design-details-color-light);
  font-weight: bold;
}

.information a:hover {
  color: var(--main-white-color);
}

.information h2 {
  text-align: left;
}

/* ===============================
   STYLES FOR THE CHECKOUT CONFIRMATION PAGE
   =============================== */

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  padding: 20px;
  transition: height 0.3s ease-in-out;
}

.check-icon {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--check-icon-color);
}

/* ===============================
   STYLES FOR THE ABOUT US PAGE
   =============================== */

.about-main h2 {
  text-align: left;
}

.about-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-img {
  border-radius: 5px;
}
