/* -------------------------------
   STYLES FOR THE PRODUCT PAGE
-------------------------------- */

/* Wrapper for all product content */
.product-details {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

/* Product image */
.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 8px;
}

#product-image {
  width: auto; /* Ensure it fits within the container */
  height: auto;
  max-width: 100%; /* Prevent the image from exceeding the container width */
  max-height: 500px;
  padding: 20px;
  background-color: var(--main-white-color);
  border-radius: 8px;
}

/* Product size and color */
#product-sizes,
#product-base-color {
  font-weight: bold;
}

/* Product prices */
.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* Regular price */
.price {
  font-weight: bold;
  font-size: 1.8rem;
}

/* On sale price */
.discounted-price {
  color: var(--discounted-price-color);
  background-color: var(--main-white-color);
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;
  margin: 0;
}

/* Regular price when on sale */
.original-price {
  color: lightgray;
  text-decoration: line-through;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

/* On sale badge */
.on-sale-badge {
  background-color: var(--on-sale-badge-color);
  color: var(--main-white-color);
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* Styling detail - line between p */
hr {
  border: 1px solid var(--design-details-color);
  margin: 10px 0;
}

/* -------------------------------
   MEDIA QUERIES
-------------------------------- */

/* TABLET (768px - 1024px) */
@media screen and (min-width: 768px) {
  hr {
    border: 1.5px solid var(--design-details-color);
    margin: 15px 0;
  }
}

/* DESKTOP (1024px and up) */
@media screen and (min-width: 1024px) {
  #product-price p {
    font-size: 2rem;
  }

  .on-sale-badge {
    font-size: 1.8rem;
    padding: 6px 12px;
  }
}
