:root {
  --main-blue-color: #0a3641;
  --main-white-color: #fff;
  --design-details-color-light: #b3c1c4;
  --design-details-color: #5b7880;
  --error-message-main-color: #f8d7da;
  --error-message-text-color: #721c24;
  --on-sale-badge-color: #ff0000;
  --discounted-price-color: #008000;
  --check-icon-color: #22bb09;
}
